@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-image: linear-gradient(to bottom right, #111827, #1f2937, #111827);
  color: #ffffff;
  font-family: sans-serif;
}